<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Svelte app</title>

	<link rel='icon' type='image/png' href="{{url_for('static', filename='svelte/js/public/favicon.png')}}">
	<link rel='stylesheet' href="{{url_for('static', filename='svelte/js/public/global.css')}}">
	<link rel='stylesheet' href="{{url_for('static', filename='svelte/js/public/build/bundle.css')}}">
  
  <script lang="javascript">
    {{ inertia.include_router() }}
    </script>
  </head>
  <body>
    <div id="app" data-page='{{ page | tojson }}'></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" defer></script>
    <script defer src="{{url_for('static', filename='svelte/js/public/build/bundle.js')}}"></script>
    <!-- <h1>Test Text in Base.html</h1> -->
  </body>
</html>