<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>Svelte app</title>

	<link rel='icon' type='image/png' href="{{url_for('static', filename='svelte/public/favicon.png')}}">
	<link href="{{url_for('static', filename='svelte/public/global.css')}}" rel='stylesheet'/>
	<link href="{{url_for('static', filename='svelte/public/build/bundle.css')}}" rel='stylesheet'/>
  
  <script lang="javascript">
    {{ inertia.include_router() }}
    </script>
  </head>
  <body>
    <div id="app" data-page='{{ page | tojson }}'></div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" defer></script> -->
    <!-- <script src="{{url_for('static', filename='svelte/public/build/bundle.js.map')}}"  defer></script> -->
    <script src="{{url_for('static', filename='svelte/public/build/bundle.js')}}"  defer></script>
    <!-- <h1>Test Text in Base.html</h1> -->
  </body>
</html>